body {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

#site {
  margin: 0 auto;
  width: 1100px;
}


#banner {
  background-image: url(img/banner3_weiss.png);
  margin-top: 30px;
  text-align: center;
  width: 1100px;
  height: 504px;
  background-repeat: no-repeat;
}

.content {
  width: 670px;
  margin-left: 100px;
  margin-right: 5px;
  padding-bottom: 50px;
  float: left;
  text-align: left;

  font-family: sans-serif;
  font-size: 12px;
  color: #000000;

  line-height: 1.3;
}

*html .content {
  margin-left: 50px;
}



/* ----------------------- headline ---------------*/



.headline {
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  border-bottom: solid 2px #000000;
  margin-bottom: 5px;
}



h1 {
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  border-bottom: solid 2px #000000;
  margin-bottom: 5px;
}



/* ----------------------- text ---------------*/



.text {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
  margin-top: 0px;
  width: 670px;
}


.more {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
  border-bottom: outset 2px #afafaf;
  border-top: outset 1px #afafaf;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 2px;
  padding-right: 10px;
  text-align: right;
}

*html .more {
  width: 670px;
}

.morelink {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: right;
}

.morelink:hover {
  color: #000000;
  text-decoration: underline;
}

.morelink:visited {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
}


.moreanchor {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: left;
  padding-right: 70%;
}

* html .moreanchor {
  padding-right: 75%;
}


.moreanchornews {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: left;
  padding-right: 77%;
}


.moreanchor:focus {
  text-decoration: none;
  color: #000000;
}




h1 {
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
}


h2 {
  color: #000000;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.link {
  color: #555555;
}




/* ----------------------- news ---------------*/



.newsheadline {
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  border-bottom: solid 2px #000000;
  margin-bottom: 5px;
}

.newsheadlinelink {
  text-decoration: none;
  color: #000000;
}

.newsheadlinelink:hover {
  text-decoration: none;
  color: #AAAAAA;
}

.newsheadlinelink:visited {
  text-decoration: none;
  color: #3f3f3f;
}

.newsDate {
  font-family: sans-serif;
  font-size: 10px;
  color: #000000;
  margin-top: 0px;
  padding: 2px;
  padding-right: 10px;
  text-align: left;
}


.newstext {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
  border-bottom: outset 1px #afafaf;
  margin-top: 0px;
}


.newsmore {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
  border-bottom: outset 2px #afafaf;
  margin-bottom: 40px;
  margin-top: 0px;
  padding: 2px;
  padding-top: 0px;
  padding-right: 10px;
  text-align: right;
}

*html .newsmore {
  width: 620px;
}

.newsmorelink {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: right;
  margin-left: 78%;
}

*html .newsmore {
  width: 100%;
}

.newsmorelink:hover {
  color: #000000;
  text-decoration: underline;
}

.newsmorelink:visited {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
}


.newsmoreanchor {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: left;
  /*
  padding-right: 80%;*/
}

* html .moreanchor {
  /*
  padding-right: 75%;*/
}


.newsmoreanchor:focus {
  text-decoration: none;
  color: #000000;
}

/* ------------------------ Newsshort ------------- */

.newsdateshort {
  font-family: sans-serif;
  font-size: 10px;
  color: #000000;
  margin-top: 0px;
  padding: 2px;
  padding-right: 10px;
  text-align: left;
  border-bottom: outset 1px #afafaf;
}

.newsmorelinkshort {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
  text-align: right;
  margin-left: 82%;
}

.newsmorelinkshort:hover {
  color: #000000;
  text-decoration: underline;
}

.newsmorelinkshort:visited {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  text-decoration: none;
}



/* ----------------------- Comments ---------------- */

.commentsheadline {
  font-family: sans-serif;
  font-size: 18px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 30px;
}

.comments {
  width: 670px;
}

.commentsauthor {
  font-family: sans-serif;
  font-size: 14px;
  color: #000000;
  margin-bottom: 0px;
  font-weight: bold;
}

.commentsdate {
  font-family: sans-serif;
  font-size: 10px;
  color: #000000;
  /*border-bottom: solid 2px #000000;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

.commentsrank {
  font-family: sans-serif;
  font-size: 10px;
  color: #000000;
  border-bottom: outset 1px #afafaf;
  margin-top: 0px;
  text-align: right;
}

.commentstext {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
  border-bottom: outset 1px #afafaf;
  margin-top: 0px;
}

.commentsnew {
  border-bottom: outset 1px #afafaf;
  border-top: 1px #afafaf;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentsform {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
}

.commentserror {
  font-family: sans-serif;
  font-size: 12px;
  color: #ffff00;
  border-bottom: outset 1px #afafaf;
  margin-top: 0px;
}



/*-------------------------- Galerie ----------------*/

a img {
  border: 2px solid #ffffff;
  margin-bottom: 10px;
}


a img:hover {
  border: 2px solid #c5c5c5;
  margin-bottom: 10px;
}

.bildlink {
  border: 2px solid #ffffff;
  margin: 10px;
  color: #000000;
}

.bildlink:hover {
  margin-bottom: 10px;
  color: #555555;
}

/*----------------------- Veranstaltungskalender ----------------- */

form {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
}

form a {
  text-decoration: none;
  color: #000000;
}

form a:hover {
  text-decoration: none;
  color: #c5c5c5;
}


table {
  font-family: sans-serif;
  font-size: 12px;
  color: #000000;
}

table a {
  text-decoration: none;
  color: #000000;
}

table a:hover {
  text-decoration: none;
  color: #c5c5c5;
}

h3 {
  font-family: sans-serif;
  font-size: 16px;
  color: #000000;
}

/* ----------------------- navigation ---------------*/





.navigation {
  float: left;
  width: 250px;
  text-align: left;
}

*html .navigation {
  width: 300px;
}

.menu {
  font-family: sans-serif;
  font-size: 12px;
  color: #3f3f3f;
  list-style: none;
  border-bottom: outset 1px #aaaaaa;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.menu:hover {
  color: #000000;
  background-color: #cccccc;
}

.menulink {
  color: #000000;
  text-decoration: none;
  display: block;
}

.menulink:visited {
  color: #000000;
  text-decoration: none;
}

.menu_headline {
  font-family: sans-serif;
  font-size: 20px;
  color: #555555;
  margin-top: 20px;
  margin-left: 40px;
}

.menu_headline2 {
  font-family: sans-serif;
  font-size: 20px;
  color: #555555;
  margin-top: 60px;
  margin-left: 40px;
}

/* -------------------------- kontaktformular -------------- */


/* 
  REDAXO-Modul: do form!
  Beschreibung: CSS-DEMO
  Bereich: CSS 
  Für: do form! 2.x  und 3.x
  Stand: 20.04.2009 
  Version: 1.0
  --------------------------------------------------------------------------
  HINWEISE:
  --------------------------------------------------------------------------
  !! Das CSS berücksichtigt nicht alle möglichen Felder 
  !! Farben nicht 1 zu 1 übernehmen
  !! ist ja nicht wirklich hübsch
  
  Weitere Infos zu den CSS hier:
  http://wiki.redaxo.de/index.php?n=R4.DoForm
  -------------------------------------------------------
  */


/* Div das das Formular umschließt */
.formgen {
  font-size: 1em;
  padding-right: 10px;
  padding-left: 10px;
}


/* Was passiert wenn auf das Label geklickt wird? */
label,
select,
input[type=checkbox],
input[type=radio],
input[type=button],
input[type=submit] {
  cursor: pointer;

}



.formgen form {
  line-height: 120%;

}




/* 
  Wie sehen die einzelnen Blöcke aus? 
  Jedes Feld wird von einem DIV umschlossen, das hier definiert werden kann
  */


.formgen .formblock {
  margin-bottom: 15px;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 2px;
  padding-left: 5px;

}

.forminfo {
  width: 360px;
  margin-bottom: 15px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 2px;
  padding-left: 5px;
  font-weight: bold;
  border: 5px solid #aaaaaa;
}

/*
  Verhalten von br-Tags
  */
.formgen br {
  clear: both;
}


/* 
  --------- FORMULAR-OBJEKTE ------------ 
  */


/* Mehrzeiliges Eingabefeld */
.formgen .formtextfield {
  width: 400px;
  height: 200px;
  margin-left: 4px;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}


/* Textfeld */
.formgen .formtext {
  width: 250px;
  margin-left: 4px;
  padding-bottom: 4px;
  font-size: 1em;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
}

.formgen input:focus,
.formgen input:hover,
.formgen select:focus,
.formgen select:hover,
.formgen textarea:focus,
.formgen textarea:hover {
  border-bottom-color: #aaaaaa;
  background-color: #ffffff;
}



/* Label */
.formgen label {
  width: 120px;
  clear: left;
  float: left;
  height: 20px;
  font-weight: bold;
  color: #000000;
}


/* Aussehen der Select-Ausgabe */
.formgen .formselect {
  width: 200px;
  background-color: #ffffff;
  margin-left: 4px;
  color: #000000;
}


/* Sende-Button */
.formgen .formsubmit {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  float: right;
  color: #000000;
}



/* Fieldsetbeschriftung */
.formgen legend {
  color: #000000;
  background-color: #990000;
  width: 150px;
}

.formgen .fieldset {
  margin-bottom: 10px;
}

/* -------------- AUSGABEN / Fehlermeldungen --------*/


/* Markierung der Labels bei Fehler */
.formgen .formerror {

  border-bottom-width: 1px;
  color: #ff3434;
}

.formgen .formcaptcha {
  border: 2px solid #990000;
  vertical-align: top;
  float: left;
  margin-right: 10px;
}

.formgen .formreq {
  color: #000000;
}

.formgen .formheadline {
  color: #993300;
  background-color: #FFF7EA;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
}



#form-module-thanks {
  color: #000000;
  font-family: sans-serif;
  font-size: 12px;
}